@mixin position($position, $top: null, $right: null, $bottom: null, $left: null){
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

#error_message{
	color: #f24730;
	@include position(absolute, $left: 10%);
}

page-forgot {

}
