page-profile{
}


#class-tiny-whoop{
	width: 31.66%;
	font-size: 10px;
}

#class-180-220{
	width: 31.66%;
	font-size: 10px;
}

#class-250-300{
	width: 31.66%;
	font-size: 10px;
}

#cat-beginner{
	width: 31%;
	font-size: 10px;
}

#cat-competitive{
	width: 31%;
	font-size: 10px;
}

#cat-expert{
	width: 31%;
	font-size: 10px;
}

